.barsWrapper {
	@apply rounded-lg flex items-stretch mt-20 font-semibold;
}

.bar {
	@apply h-3 flex-auto relative transition-all ease-out duration-300;
}

.barText {
	@apply absolute left-2/4 -top-10;
	transform: translateX(-50%);
}

.legendWrapper {
	max-width: 400px;
	width: 100%;
	color: var(--color-secondary)
}

.legendInner {
	@apply flex gap-2 items-center;
}

.ballPos {
	background-color: var(--color-positive);
}

.ballNeu {
	background-color: var(--color-neutral);
}

.ballNeg {
	background-color: var(--color-negative);
}