.form {
	@apply relative rounded-full flex px-6 py-3 mx-auto mt-12 w-full border text-gray-600 border-slate-500 transition-all ease-in-out duration-200;
	max-width: 100%;
	background-color: #ffffff80;
}

.formLoading {
	@apply opacity-70;
}

.iconInitial {
	@apply hidden;
}

.loadingIcon {
	@apply absolute inset-y-0 left-auto right-4 mt-auto mb-auto h-5/6 w-auto animate-spin;
}

.searchBar {
	@apply bg-transparent grow outline-none flex-1 text-lg text-inherit pr-8;
}

.form:focus-within {
	border-color: var(--color-border);
	background-color: var(--color-white);
	color: var(--color-secondary);
}

.form:hover {
	background-color: var(--color-white);
}

@media screen and (min-width: 768px) {
	.form {
		max-width: 55%;
	}
}
