.arrowWrapper {
  @apply mb-20 flex justify-center;
}

.arrowDown {
  @apply h-10 opacity-60;
}

.dataWrapper {
  @apply flex flex-col justify-items-stretch mx-auto mb-16 xl:pt-6;
}

.dataRow {
  @apply py-6;
}

.searchTerm {
  color: var(--color-secondary);
}

.dataMidRow {
  @apply border-y border-gray-700;
}

.conclusionWrapper {
  @apply flex justify-center;
}

.conclusionBox {
  @apply lg:text-xl text-base mx-auto px-10 py-5 border border-gray-400;
}

.dataBotRow {
  @apply py-0 lg:py-3 flex justify-between flex-wrap items-center;
}

.highlightedText {
  @apply lg:text-xl text-base font-bold;
}

@media screen and (min-width: 1024px) {
  .dataWrapper {
    max-width: 80%;
    min-width: 660px;
  }

  .dataRow {
    padding-left: 12%;
    padding-right: 12%;
  }
}
