.main {
  background-color: var(--color-background);
  background-size: 50px 50px;
  background-position: 0 0, 25px 25px;
}

.footer {
  color: var(--color-primary);
}

.heading {
  color: var(--color-primary);
}

.dataSection {
  color: var(--color-primary);
}