@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #EAE7DC;
  --color-primary: #AC3B61;
  --color-secondary: #123C69;
  --color-white: #ffffff;
  --color-seperator: #8E8D8A;
  --color-negative: #bb0000;
  --color-neutral: #9ea09f;
  --color-positive: #39ba46;
  --color-border: #E98074;
  --alpha-searchBar: 0.5;
}

@layer base {
  html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
}

html {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}